{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current",
          "browsers": [
            "last 4 versions",
            "safari >= 7"
          ]
        },
        "useBuiltIns": true
      }
    ],
    "stage-0"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}