*, *:after, *:before {
    box-sizing: border-box;
    transition: all .4s ease;
}

html, body {
    font-family: 'Roboto';
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-size: 16px;
}

#workshop {
    width: 100%;
    height: 100%;
    padding: 1rem;
    overflow: auto;
    display: flex;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 2rem;
    overflow: hidden;
}

li {
    font-size: 1.2rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1rem;
    border: 1px solid;
}

.stats label {
    display: block;
    height: 1rem;
    width: 0;
    background: #32576A;
}